/* .userNameInput {
  width: 60%;
  height: 25px;
  margin-bottom: 0.8rem;
}

.userAgeInput {
  height: 25px;
  margin-bottom: 0.8rem;
}
.userMarks {
  height: 25px;
  width: 13%;
}

.userNameInput:focus,
.userAgeInput:focus,
.userMarks:focus {
  outline: 2px solid orangered;
}
.userlabel {
  margin: 0 0.5rem;
} */
