.UsersLists {
  list-style: none;
}
.user_list {
  border: 1px solid gray;

  border-radius: 10px;
  padding: 0.9rem;
  margin: 1rem 0;
  text-align: left;
}
.min_Width {
  min-width: 40%;
}
/* .table_container {
  height: 250px;
} */
